/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }

  @font-face
  {
     font-family: "Death\ Star.otf";
     src: url("Death\ Star.otf");
  }

  @font-face
  {
     font-family: "soloisthalf.ttf";
     src: url("soloisthalf.ttf");
  }

  body {
    background-image: url("fondo_about.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1 {
    font-family: "Death\ Star.otf";
    font-size: 50px;
    text-align: center;
    color: #fdc030;
    text-shadow:3px 3px rgb(0, 0, 0);
    padding: 10px;
    margin: 50px;
    margin-bottom: 0px;
    border: #fdc030 10px groove;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.7);
    }
  
  h2{
    text-align: center;
    font-family: "soloisthalf.ttf";
    color: #fdc030;
    border-bottom: dashed;
  }

  li{
    color: white;
    list-style-image: url("Lightsaber.png");
  }

  .cuerpo{
    display: inline-flex;
    padding: 0px;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center;
    border: #fdc030 10px groove;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }

  p{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0px;
    text-align: left;
    color: white;
  }

  .foto1 {
    padding: 10px;
    margin: 10px;
    float: right;
  }
  .foto2 {
    padding: 10px;
    margin: 10px;
    float: left;
  }


  /* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
  float: left;
  padding: 10px;
  min-height: 500px;
  }
  
  .izquierda {
  width: 25%;
  border: #fdc030 10px groove;
  
  }
  
  .derecha {
  width: 75%;
  border: #fdc030 10px groove;
  
  }
  
  /* Clear floats despues de las columnas para eliminar la superposición */
  .filla:after {
  content: "";
  display: table;
  clear: both;
  }
  
  /* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
  /* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */
  
  .iresponsive {
      padding: 0 6px;
      float: left;
      width: 50%;
    }
  
  /* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
  /* Así conseguimos que el contenido se vea bien en dispositvos móviles */
  
  @media screen and (max-width: 600px) {
      .cuerpo {
        width: 100%;
      }
  
      .iresponsive {
          width: 100%;
      }
  }
  
  /* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */